/* src/css/home.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  position: relative;
  padding-top: 40px;
}
.home-container h3{
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  font-size: 21px;
  font-weight: 800;
}

.home-container h3:hover{
  cursor: pointer;
}

.home{
  padding-bottom: 50px;
}