/* Container video với chiều rộng 100vw */
.video-container {
  position: relative;
  width: 98.92vw; /* Toàn bộ chiều rộng của viewport */
  height: 34.25vw; /* Tỷ lệ 16:9 */
  overflow: hidden;
  margin: 0;
  padding: 0;
}


/* Video tự động lấp đầy container */
.full-width-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 0; /* Bắt đầu với video mờ dần */
  transition: opacity 2s ease; /* Hiệu ứng chuyển tiếp cho độ mờ */
}

/* Điều chỉnh cho màn hình nhỏ hơn */
@media (max-width: 768px) {
  .video-container {
      height: 56.25vw; /* Tăng chiều cao cho tỷ lệ khác */
  }
}

.fade-in {
  opacity: 1; /* Đặt độ mờ của video thành 1 khi đã tải xong */
}